.mixin.out/
backups/
crash-reports/
defaultconfigs/
logs/
local/
mods/
natives/
resourcepacks/
saves/
schematics/
BotaniaVars.dat
config.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
config/cherishedworlds/
config/jei/bookmarks.ini
config/*-client.toml
!config/forge-client.toml
config/sidebar_buttons.json
config/artisantools/generated/
config/artisantools/tool.materials.generated.json
openloader/.cache
config/jecalculation/record.json
